.emoticon {
  display: inline-block;
}

.emoticon.Kappa {
  background-image: url("http://static-cdn.jtvnw.net/emoticons/v1/25/1.0");
  width: 25px;
  height: 28px;
}

.emoticon.SwiftRage {
  background: url("//static-cdn.jtvnw.net/emoticons/v1/34/1.0");
  width: 21px;
  height: 28px;
}

.emoticon.TheThing {
  background: url("//static-cdn.jtvnw.net/emoticons/v1/7427/1.0");
  width: 28px;
  height: 28px;
}
